@font-face
{
    font-family: SourceSansPro;
    src: url(Source_Sans_Pro/SourceSansPro-ExtraLight.ttf);
    font-weight:200;
}
@font-face
{
    font-family: SourceSansPro;
    src: url(Source_Sans_Pro/SourceSansPro-Light.ttf);
    font-weight:300;
}
@font-face
{
    font-family: SourceSansPro;
    src: url(Source_Sans_Pro/SourceSansPro-Regular.ttf);
    font-weight:normal;
}
@font-face
{
    font-family: SourceSansPro;
    src: url(Source_Sans_Pro/SourceSansPro-Semibold.ttf);
    font-weight:600;
}
@font-face
{
    font-family: SourceSansPro;
    src: url(Source_Sans_Pro/SourceSansPro-Bold.ttf);
    font-weight:700;
}
@font-face
{
    font-family: SourceSansPro;
    src: url(Source_Sans_Pro/SourceSansPro-Black.ttf);
    font-weight:900;
}
@font-face
{
    font-family: SourceSansPro;
    src: url(Source_Sans_Pro/SourceSansPro-RegularItalic.ttf);
    font-weight:normal;
    font-style: italic;
}
@font-face
{
    font-family: SourceSansPro;
    src: url(Source_Sans_Pro/SourceSansPro-ExtraLightItalic.ttf);
    font-weight:200;
    font-style: italic;
}
@font-face
{
    font-family: SourceSansPro;
    src: url(Source_Sans_Pro/SourceSansPro-LightItalic.ttf);
    font-weight:300;
    font-style: italic;
}
@font-face
{
    font-family: SourceSansPro;
    src: url(Source_Sans_Pro/SourceSansPro-SemiboldItalic.ttf);
    font-weight:600;
    font-style: italic;
}
@font-face
{
    font-family: SourceSansPro;
    src: url(Source_Sans_Pro/SourceSansPro-BoldItalic.ttf);
    font-weight:700;
    font-style: italic;
}
@font-face
{
    font-family: SourceSansPro;
    src: url(Source_Sans_Pro/SourceSansPro-BlackItalic.ttf);
    font-weight:900;
    font-style: italic;
}

html, body
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: SourceSansPro, Arial, Helvetica, sans-serif;
    font-size: 87.5%; /* 16px */
    line-height: 1.125em; /* 18px */
    background: #eee;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: 1px solid #333;
}

h1,h2,h3,h4,h5,h6
{
    margin: 0;
    margin-bottom: 1em;
}

h1,h2
{
    font-weight: 300;
}
h3
{
    font-weight: 400;
}
h4
{
    font-size: 1em;
    font-weight: 900;
}
h5
{
    font-size: 1em;
    font-weight: 700;
}
h6
{
    font-size: 1em;
    font-weight: 600;
}

p
{
    font-size: 1em;
}
